* {
	box-sizing: border-box;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

/* navigation bar */
nav div span {
	font-family: Kalam;
	font-size: 40px;
	color: white;
	font-weight: 900;
}


 /* main content */

main {
	margin-top: 70px;
	padding: 0;
}

.landing-page {
	position: relative;
	background-image: url(./images/landingimg.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.landing-page .h1 {
	position: absolute;
	top: 20%;
	left: 62%;
	/* tranform: translate(-50%, -50%); */
	color: white;
	text-align: center;
	font-size: 18px;
	font-style: oblique;
	padding: 1rem 8rem;
	line-height: 1.5rem;
}


/* section 1 */

.featured {
	margin-top: -5%;
    padding: 10%;
}

.heading {
	padding-bottom: 50px;
}

.heading h2 {
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline;
	background-color: #d2dada;
}

.text1 p {
	text-align: justify;
}

.text2 p {
	text-align: justify;
}

.text3 p {
	text-align: justify;
}

.text4 p {
	text-align: justify;
}

.text5 p {
	text-align: justify;
}

.places img {
	width: 100%;
	height: 80%;
}

/* section 2 */

.blog {
	margin-top: -20%;
    padding: 10%;
}

.blog-header {
	padding-bottom: 50px
}

.blog h2 {
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline;
	background-color: #d2dada;
}

.blog-content img {
	width: 100%;
	height: 12.5rem;
}

.blog-content p{
	text-align: justify;
}

/* footer */

.footer-section {
	background: #1c1a1a;
	position: relative;
	margin-top: -5rem;
}

.footer-cta {
	border-bottom: 1px solid #373636;
}

.single-cta i {
	color: #ff5e14;
	font-size: 30px;
	float: left;
	margin-top: 8px;
}

.cta-text {
	padding-left: 15px;
	display: inline-block;
}

.cta-text h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2px;
}

.cta-text span {
	color: #757575;
	font-size: 15px;
}

.footer-content {
	position: relative;
	z-index: 2;
}

.footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo img {
    max-width: 12.5rem;
	width: 4.375rem;
}

.footer-logo span {
	/* font-family: great vibes;
	font-size: 40px;
	color: #fff; */
	font-family: Kalam;
	font-size: 40px;
	color: white;
	font-weight: 900;
	padding-left: 15px;
}

.footer-text p {
	margin-bottom: 14px;
	font-size: 14px;
	color: #7e7e7e;
	line-height: 28px;
}

.footer-social-icon span {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}

.footer-social-icon a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}

.footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}

.facebook-bg{
	background: #3B5998;
}
  
.twitter-bg{
	background: #55ACEE;
}
  
.google-bg{
	background: #DD4B39;
}

.footer-widget-heading h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
}

.footer-widget-heading h3::before {
	/* content: ""; */
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #ff5e14;
}

.link-content {
    margin: 0px;
    padding: 0px;
}

.footer-widget ul li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 12px;
}

.footer-widget ul li a:hover{
	color: #ff5e14;
}

.footer-widget ul li a {
	color: #878787;
	text-decoration: none;
}

.subscribe-form {
	position: relative;
	overflow: hidden;
}

.subscribe-form input {
	width: 100%;
	padding: 14px 28px;
	background: #2E2E2E;
	border: 1px solid #2E2E2E;
	color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
	color: #fff;
	font-size: 22px;
	/* transform: rotate(-6deg); */
}

  
.copyright-area {
	background: #202020;
	padding: 25px 0;
}

.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #878787;
}

.copyright-text p a{
	color: #ff5e14;
}

.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}

.footer-menu li:hover a{
	color: #ff5e14;
}

.footer-menu li a {
	font-size: 14px;
	color: #878787;
}
